.Reg {
    height: 100vh;
    display: flex;
    flex-direction: row;


}

.regSideImg {
    width: 50%;
}

.regSideImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.regForm {
    background-color: rgb(201, 201, 211);
    display: flex;
    width: 50%;
    align-items: center;

}

.lContainerReg {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.lInputReg {
    height: 30px;
    padding: 8px;
    border-radius: 5px;
    border: 0px;
}

.lButtonReg {
    border: none;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButtonReg:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}

.registrationText {
    color: white;
}


.imageInput {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.imageInput::file-selector-button {
    font-weight: bold;
    color: blue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}